<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded nav-styles">
	<div class='container'>
    <h1 class="navbar-brand mb-0">Freelancer</h1>

		<ul class="navbar-nav mr-auto">
			<li class='nav-item'>
				<a class='nav-link' routerLink="/home" routerLinkActive="active">Home</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link' routerLink="/documents" routerLinkActive="active">Documents</a>
			</li>
			<li class="nav-item dropdown">
				<div ngbDropdown class="d-inline-block dropdown-links">
					<button class="btn btn-primary" id="proposalDropdown" ngbDropdownToggle>
						Proposals
					</button>
					<div class="dropdown-menu" aria-labelledby="proposalDropdown">
						<a class="dropdown-item" routerLink="/proposals" routerLinkActive="active" 
						   [routerLinkActiveOptions]="{ exact: true }">
						  Proposals
						</a>
						<a class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active">
						  New Proposal
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>

<div class="app-body">
	<div class="container">
  	<router-outlet></router-outlet>
	</div>
</div>