<h1 class="headline">{{ pageTitle }}</h1>

<div class="col">
  <div class="card" *ngFor="let doc of documents">
    <img class="card-img-top" src="{{ doc.image_url }}" width="100%">
    <div class="card-block">
      <h4 class="card-title">{{ doc.title }}</h4>
      <p class="card-text">{{ doc.description }}</p>
      <div>
        <a class="btn btn-lg btn-primary" href="{{ doc.file_url }}">Download File</a>
      </div>
      <p class="card-text">
        <small class="text-muted">
          Last update: {{ doc.updated_at | date}}
        </small>
      </p>
    </div>
  </div>
</div>